*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;   
}
#simon-game{
    height: 100%;
    width: 100%;   
    padding: 5px;
    background-color: rgb(233, 233, 233);
}
h2{
    width: fit-content;
    position: absolute;
    top: 50px;
    right: 50px;
    font-weight: 500; 
    text-transform: capitalize;
    user-select: none;
    font-style: italic;
}
h1, h3{   
    margin: 50px 0;
    text-align: center;   
    font-weight: 500; 
    text-transform: capitalize;
    user-select: none;
}
#simon-box{
    height: fit-content;
    width: fit-content;
    margin: auto;
    /* background-color: red; */
}
#line1, #line2{
    display: flex;
}
.btn{
    /* height: 29vh;   
    width: 16vw; */
    height: 250px;
    width: 250px;
    margin: 15px 18px;
    border-radius: 25px;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: black;
    cursor: pointer;
    border: 4px solid black;
    user-select: none;
}
.btn:hover{
    box-shadow: 2px 2px 15px black;
}

#red{
    background-color: rgb(255, 133, 133);
}
#green{
    background-color: rgb(129, 245, 129);
}
#blue{
    background-color: rgb(141, 141, 252);
}
#yellow{
    background-color: rgb(255, 234, 114);
}

.flash{
    background-color: #fff !important;
}

#start{ 
    position: absolute;
    left: -500%;
}

@media (max-width: 700px) {

    h2{         
        top: 125px;
        right: 30px;
        font-size: 1.25rem;                  
    }
    h1{   
        font-size: 1.85rem; 
        margin: 40px 0 120px;    
        font-weight: 500;        
    }
    h3{   
        margin: 0 0 80px;    
        font-weight: 500;        
    }

    .btn{          
        height: 18vh;   
        width: 18vh;       
        margin: 1vh;       
        border: 3px solid black;        
    }

    #start{ 
        display: block;
        bottom: 125px;
        left: 50%;
        transform: translateX(-50%);
        margin: 2.5rem auto 0;
        padding: 12.5px 35px;
        border-radius: 10px;
        border: 1px solid black;
        color: #181818;
        cursor: pointer;
        font-size: .83rem;
        letter-spacing: normal;
        background-color: rgb(230, 230, 230);
    }
    #start:hover{
        color: rgb(233, 233, 233);
        background-color: rgb(24, 24, 24);
    }
}